<div class="message-btns">
    <a href="" class="d-btn">Delete</a>
    <a href="/admin/message/reply/<%= message._id %>" class="r-btn">Reply</a>
</div>

<div class="message-container">
    <p>User Name : <%= message.userName %></p>
    <p>Phone Number : <%= message.phone %></p>
    <p>Email : <%= message.email %></p>
    <p>Message : <%= message.message %></p>
</div>