<section class="product-wrepper">
  <h1 class="f-heading">All products</h1>
  <div class="product-div">
    <% products.forEach(product => { %>
    <div
      class="product"
      onclick="window.location = '/product/<%=product._id%>'"
    >
      <div class="image-box">
        <img
          src="/images/products/<% for( let i = 0; i < 1; i++ ) { %><%= product.images[i] %><% } %>"
          alt=""
        />
      </div>
      <div class="p-name">
        <h3><%= product.productName %></h3>
        <h4><span>Rs</span> <%=product.price %></h4>
      </div>
      <div class="p-description"><%= product.productmetaDescription %></div>
    </div>
    <% }) %>
  </div>
</section>
